.header {
    display: inline;
    position: sticky;
    top: 0;
    width: 100%;
}

.test {
    display: flex;
    justify-content: space-between;
}

#logIn {
    color: black; 
    padding-right: 10px;
}

#logo {
    color: green;
    padding-left: 10px;
}

body {
    margin: 0;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

h1 {
    font-weight: 200;
}

.content {
    background-image: url(./assets/manWatchingTV1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    display: flex;
    flex-direction: column;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    border: thin solid transparent;
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    word-spacing: 2.5px;
    margin-left: 450px;
    margin-right: 450px;
}

#legal {
    color: gray;
}