.header {
    position: absolute;
    padding: 25px 0px 25px 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    color: white; 

  }

/* js adds this class when the user scrolls down on the website */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: rgb(63, 62, 62);
}

#logIn {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-right: 70px;
    padding-top: 5px;
    letter-spacing: 1px;
}

#logo {
    font-weight: 900;
    font-size: 22px;
    color: black;
    padding-left: 60px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.content1 {
    background-image: url(./assets/manWatchingTV1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gradientTint {
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #184097, #1c7a7e);  
    opacity: 85%;
}

.text {    
    position: relative;
    z-index: 4;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.text h1 {
    font-weight: 100;
    font-size: 50px;
    letter-spacing: -0.5px;
    font-family: 'Montserrat', sans-serif;
}

#masthead {
    width: 53%;
    margin-left: auto;
    margin-right: auto;
}

#secondMessage {
    font-size: 15px;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    border: thin solid transparent;
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    word-spacing: 2.5px;
    margin-left: 450px;
    margin-right: 450px;
    position: relative;
    z-index: 4;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#legal {
    color: lightgray;
    font-size: 10px;
}

.content2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.content2 h1 {
    font-weight: 300;
    font-size: 45px;
    padding-top: 3px;
    margin-top: 5;
    margin-bottom: 0;
}

.content2 h3 {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: rgb(63, 62, 62);
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.box {
    border: thin solid gray;
    height: 700px;
    width: 350px;
}