.header {
    display: flex;
    justify-content: space-between;
}

#logIn {
    color: white;
    padding-right: 10px;
}

#logo {
    color: green;
    padding-left: 10px;
}

body {
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    background-color: lightblue;
}

h1 {
    font-weight: 200;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    border: thin solid transparent;
    padding: 14px;
    padding-left: 25px;
    padding-right: 25px;
    word-spacing: 2.5px;
    margin-left: 450px;
    margin-right: 450px;
}

#legal {
    color: gray;
}